In [196]:
import requests
import pandas as pd

# Set API key and request parameters
# API_KEY = '3ECF8392-3A25-4A57-9EFD-A947F2CE86C5'
 
# url = 'https://rest.coinapi.io/v1/ohlcv/BITSTAMP_SPOT_BTC_USD/latest?period_id=1DAY'
url = "https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=USD&days=95&interval=hourly"
# headers = {'X-CoinAPI-Key' : API_KEY}
# response = requests.get(url, headers=headers)
response = requests.get(url)

data = response.json()

In [197]:
print(data)

{'status': {'error_code': 429, 'error_message': "You've exceeded the Rate Limit. Please visit https://www.coingecko.com/en/api/pricing to subscribe to our API plans for higher rate limits."}}

In [153]:
prices = []
for i in range(0, len(data['prices'])):
  prices.append(data['prices'][i][1])

print(prices)
df = pd.DataFrame()
df['prices'] = prices
df.head()
# df.set_index('date', inplace=True)
# l1 = []
# for i in range(0, len(df)):
#   l1.append(df['quote'].iloc[i]['USD']['price'])

[30382.40624219559, 29256.813374416255, 29491.507947760598, 30351.050417138096, 29163.167775739188, 29655.02613175249, 29584.949851985926, 29346.781442431617, 28646.65218193245, 29088.236452817226, 29492.503214953642, 31740.94072516695, 31865.749621173167, 29833.450330205254, 30481.013996026013, 29714.143487149733, 29872.3603087139, 29917.764052456198, 31372.5847629755, 31265.469277693348, 30229.236836130378, 30101.187521431468, 29101.2982596468, 28374.14499732395, 26767.269173221313, 22525.768350391198, 22244.848968001315, 22529.198114649807, 20408.690490591813, 20473.05288079512, 19047.41782828195, 20516.41197977524, 20636.75891240637, 20700.923933039136, 19983.566482863105, 21100.270533511088, 21262.71348295613, 21525.88036221139, 21052.80539783573, 20751.477530790766, 20282.542479269694, 20108.529472889782, 19608.397493423083, 19407.447430262473, 19268.227002666128, 19310.233218521833, 20257.012328592882, 20188.779663973284, 20566.68722377, 21660.596837075183, 21858.818749217564, 21589.628101459668, 20859.81407965063, 19998.467839575842, 19350.73735007727, 20225.23866433186, 20574.84059150044, 20794.811981436706, 21193.08334336837, 20824.36275165164, 22395.365383103952, 23366.90769792785, 23313.296731959555, 23155.207555248304, 22696.902754290055, 22506.199573628986, 22613.719208248454, 21330.295450788173, 21235.612316085775, 22908.884260468687, 23822.067597823116, 23847.58331873861, 23653.459549430798, 23379.70052509082, 23333.749243312184, 23053.846847482677, 22860.42098438317, 22678.363633874185, 23225.036201942938, 22984.57953144855, 23197.603469525384, 23823.679442453606, 23203.680696781623, 23948.829553271633, 23948.75170368143, 24411.379871522615, 24433.653747243658, 24312.541424891562, 24179.014652309197, 23913.333725628458, 23359.418837070007, 23248.38422819264, 20945.8339660496, 21175.232732989512, 21615.761693416986, 21387.747114773963, 21562.45153991356, 21395.45846975991, 21618.009019176647, 20271.322951706014, 20069.953331596196, 19659.24670619362, 20308.861447891457, 19805.35069885804, 20023.55444491251, 20153.975977982507, 19941.451370047158, 19814.5642451146, 19980.013222242276, 19785.73350185514, 18859.500087680277, 19280.62547645678, 19322.77774937157, 21359.58252557909, 21707.38731931814, 21739.80437979554, 22339.67050262336, 20184.96749189655, 20255.922978327133, 19702.169889811717, 19764.411712043777, 20131.675305714027, 19437.157867982634, 19570.386709523507, 18869.928809390534, 18539.63523831258, 19464.322663348466, 19291.904802452067, 18939.970580499372, 18809.41143933244, 19219.727780656474, 19116.331160710437, 19444.787771362975, 19563.765161776904, 19476.92659600407, 19314.463835217448, 19065.153837148988, 19620.567543591394, 20345.398520106643, 20161.830614985047, 19949.051041418512, 19457.308951251147, 19418.037989243952, 19448.14900175761, 19142.694767392895, 19058.628039738272, 19153.039779986986, 19383.9432200889, 19198.107144951755, 19072.780513358884, 19272.921847772006, 19557.895548868444, 19348.029368810374, 19134.242664465204, 19031.15987195947, 19173.28046885863, 19203.86547117714, 19574.824231840797, 19316.94062294213, 20095.152230674925, 20774.247496426033, 20278.36623205219, 20591.241208098614, 20800.70708772471, 20623.871497040946, 20494.60120983709, 20489.646203160763, 20162.980904822525, 20210.912417111318, 21150.315583912397, 21282.985109422694, 20906.99792695512, 20597.755017060834, 18562.353215089643, 15742.444335961438, 17594.923500278233, 17080.215260565037, 16797.98748257006, 16344.342316001042, 16645.828500283515, 16890.52938386464, 16689.39673273771, 16718.361228055077, 16707.022778986535, 16712.729525794817, 16304.07685562355, 15814.335280855257, 16171.628978315088, 16608.00998544357, 16596.03575847268, 16524.449007720887, 16456.156062496684, 16459.149543755877, 16222.210728731225, 16441.979978419113, 17186.502572066118, 16972.73406077455, 17084.87334047068, 16923.38287008033, 17149.93175096291, 16973.372577553495, 17085.64314125141, 16851.30346863184, 17235.014157992136, 17149.824203925327, 17125.364927688952, 17101.038019732932, 17179.596038203494, 17784.162894053265, 17808.71617265881, 17338.358126632633, 16623.75782614431, 16806.48559206152, 16742.816663834055, 16422.562273279298, 16899.331969046758, 16816.85370118997, 16824.790162441503, 16791.45543916491, 16848.568708323422, 16842.177039905502, 16900.081871938084, 16701.840210667935, 16538.906094001977, 16644.379087037905, 16604.020520373393, 16540.693624776803, 16615.969318012816, 16674.342536301097, 16677.646185850346, 16855.1747387671, 16832.098988497855, 16960.23206247515, 16950.861521853905, 17074.61539572674, 17194.90932945318, 17436.90232978116, 17996.832553741606, 18866.810330617045, 19941.780543296303, 21019.20661402266, 20853.230569490253, 21175.33773662521, 21156.78393116713, 20726.844969426445, 21081.671022204326, 22705.83367889906, 22771.023287021784, 22736.66142892971, 22984.87497643721, 22610.010598272846, 23180.422697874263, 23024.74618081709, 23082.858382122955, 23022.23299135344, 23797.460894881242, 22840.385858797104, 23137.323554088376, 23725.161796142238, 23539.676770196525, 23451.577650774634, 23340.34958553934, 22946.286578591233, 22786.483006387727, 23294.9136483527, 22947.50782856846, 21820.886508092775, 21630.132979576298, 21889.432080049624, 21779.87440384417, 21807.834274723064, 22220.070997481067, 24307.875101631602, 23756.907281577434, 24628.82455217312, 24642.79087073843, 24284.478003714703, 24786.665940845705, 24417.38703630947, 24146.101364545222, 23951.11098423326, 23172.286538018925, 23157.038107459524, 23541.115854493557, 23518.12390627588, 23155.543746825795, 23634.333489123786, 23464.33654185282, 22367.43302246967, 22348.32991538815, 22421.885805853268, 22415.113659694827, 22217.209884905325, 21712.65119391273, 20376.320007428807, 20195.2289502733, 20521.55615175117, 22095.71339833569, 24178.95532797469, 24758.765085827567, 24587.542025278475]

         prices
0  30382.406242
1  29256.813374
2  29491.507948
3  30351.050417
4  29163.167776

In [154]:
df['150ma'] = df['prices'].rolling(window=150).mean()
df['50ma'] = df['prices'].rolling(window=50).mean()

In [143]:
print(df)

          prices        150ma         50ma
0    2023.848259          NaN          NaN
1    1963.990940          NaN          NaN
2    1978.147133          NaN          NaN
3    2046.646350          NaN          NaN
4    1974.581194          NaN          NaN
..           ...          ...          ...
296  1474.403244  1412.752109  1603.364711
297  1588.196802  1414.752328  1602.610461
298  1678.915634  1417.294248  1603.571876
299  1708.300897  1420.178295  1605.078660
300  1634.771289  1422.363816  1606.632890

[301 rows x 3 columns]

In [155]:


# Calculate moving averages

# Generate signals based on moving averages
df['signal'] = 0
for i in range(0, len(df)):
  if df['prices'].iloc[i] > df.iloc[i]['150ma']:
    df['signal'].iloc[i] = 1

  elif df['prices'].iloc[i] < df.iloc[i]['50ma']:
    df['signal'].iloc[i] = -1
# df.loc[df['quote']['USD']['price'] > df['30ma'], 'signal'] = 1
# df.loc[df['quote']['USD']['price'] < df['50ma'], 'signal'] = -1

# Execute trades based on signals

amount = 0.01
position = 0
balance = 10000
trades = []

for i in range(len(df)):
    if df['signal'][i] > position:
        # Buy
        price = df['prices'].iloc[i]
        trade_cost = amount * price
        if trade_cost <= balance:
            trades.append(('buy', price, amount))
            position = 1
            balance -= trade_cost
    elif df['signal'][i] < position:
        # Sell
        price = df['prices'].iloc[i]
        trade_cost = amount * price
        if position == 1:
            trades.append(('sell', price, amount))
            position = -1
            balance += trade_cost

# Calculate profit/loss
pnl = 0
for trade in trades:
    if trade[0] == 'buy':
        pnl -= trade[1] * trade[2]
    elif trade[0] == 'sell':
        pnl += trade[1] * trade[2]
print(f'Profit/Loss: ${pnl:.2f}')

Profit/Loss: $-204.98

<ipython-input-155-588e51728ee6>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['signal'].iloc[i] = -1
<ipython-input-155-588e51728ee6>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['signal'].iloc[i] = 1